body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0px;
}

#parte1{
    background-color: #b56d8d;
}
 
nav {
    display: flex;
    background-color: #DEBEB1;
    justify-content: flex-end;
    align-items: center;
}

nav div {
    margin-left: 10px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 8px;
    color: white;
}

nav div:hover {
    color: #b56d8d;
}

nav a{
    font-size: 24px;
    text-decoration: none;
}

.center_table{
    margin-left:auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header{
    color: white;
}

#imagen{
    padding-right: 30px;
}

#perfil {
    border-radius: 50%;
    width: 240px;
    height: 310px;
}

#proyectos{
    background-color: #DEBEB1;
}

footer{
    font-family: cursive;
    color:white;
    background-color: #DEBEB1;
    text-align:center;
    padding: 17px;
}
