body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0px;
}

#about{
    background-color: #b56d8d;
    border-bottom: 5px double #f5f0f2;
}
 
nav {
    display: flex;
    background-color: #DEBEB1;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    transition: 3.0;
}

nav div {
    margin-left: 10px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 8px;
    color: white;
    text-align: center;
}

nav div:hover {
    color: #b56d8d;
}

nav a{
    font-size: 24px;
    text-decoration: none;
}

.center_table{
    margin-left:auto;
    margin-right: auto;
    padding-top: 220px;
    padding-bottom: 220px;
}

.header{
    color: #f5f0f2;
}

#imagen{
    padding-right: 30px;
}

#perfil {
    border-radius: 50%;
    width: 240px;
    height: 310px;
}

.logo, .logo_leng{
    width: 160px;
    height: 160px;
}

#proyectos, #skills{
    background-color: #f5f0f2;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    text-align:center;
    color: #b56d8d;
}

.proyectos_cont, .skills_cont{
    background-color: #f5f0f2;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    text-align:center;
    color: #b56d8d;
    padding-bottom: 30px;
    border-bottom: 5px double #b56d8d;
}

#seccion1, #seccion2{
    text-align: center;
    border-bottom: 4px dotted #b56d8d;
}

#experience{
    background-color:#b56d8d;
    color: #f5f0f2;
    display: flex;
    justify-content:space-evenly;
    flex-grow: 1;
    text-align: center;
}

.experience_cont{
    background-color:#b56d8d;
    color: #f5f0f2;
    display: flex;
    justify-content:space-evenly;
    flex-grow: 1;
    text-align: center;   
}

#seccion3{
    text-align: center;
    border-bottom: 4px dotted #f5f0f2;
}

.fa-instagram {
    background: none;
    color: #b56d8d;
}

footer{
    font-family: cursive;
    color:white;
    background-color: #DEBEB1;
    text-align:center;
    padding: 17px;
}


